h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
}

hr {
  border: 0;
  border-top: 3px solid;
  margin-top: 40px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-left: 50px;
  padding: 0;
}

li {
  font-size: 16px;
  line-height: 19px;
}

.search {
  background: #00587a;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 5px 5px 5px 0;
}

.search:hover {
  background: #3d6a7c;
  color: white;
}

.button {
  display: block;
  margin-top: 10px;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
}

.temperature {
  font-size: 25px;
}

.container {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  font-family: "Amatic SC", cursive;
}

.weather-app {
  padding: 20px;
  border: 1px solid #a18f8f;
  border-radius: 10px;
  background: linear-gradient(to top, #e4d7d1 0%, #ace0f9 100%);
  margin-top: 20px;
  color: #2c061f;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  margin-bottom: 24px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 52px;
  line-height: 1;
  font-weight: 400;
  margin-left: 60px;
}

.weather-temperature .units {
  position: relative;
  top: -24px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
